.shipping{
    height: 75vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.shipping>form{
    display: flex;
    flex-direction: column;
}
.shipping>form>input{
    padding: 5px;
}
.shipping>form>*{
    margin-bottom: 5px;
}