.register{
    height: 75vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register>form{
    display: flex;
    flex-direction: column;
}
.register>form>input{
    padding: 5px;
}
.register>form>*{
    margin-bottom: 5px;
    width: 350px;
}